@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url("/production/472f3a6a-a69e-411f-aaad-a71189c0d0a7//assets/fonts/Inter.ttf") format("truetype"), url("/production/472f3a6a-a69e-411f-aaad-a71189c0d0a7//assets/fonts/Inter.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Libre Baskerville";
  font-weight: 400, 700;
  font-style: normal;
  src: url(https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap);
}

:root {
  --body-bg-darker-second-color: #EFE7C4;
  --body-bg-third-color: rgb(251, 244, 217);
  --body-bg-darker-color: #716138;
  --body-bg-golden-color: #EADD97;
  --body-bg-extra-golden-color: #ffe473;
  --body-bg-brown-color: #968560;
  --brown-grey-color: #5B5748;
  --xs-border-radius: 7px;
  --small-border-radius: 10px;
  --normal-border-radius: 25px;
  --large-border-radius: 45px;
}

body .form-control {
  border-color: transparent !important;
  background-color: var(--body-bg-second-color);
  border-radius: var(--normal-border-radius) !important;
}

.custom-banner-carousel .swiper {
  background-color: var(--body-bg-second-color);
  border-width: 50px 50px 0px 50px;
  border-style: solid;
  border-color: var(--body-bg-second-color);
}

body.openMenu .menu-wrap:not(.collapsed):not(.sticky) .navbar-nav > .dropdown > .dropdown-menu.show {
  max-height: 70vh;
  overflow-y: auto;
  scrollbar-color: var(--body-bg-first-color);
  background-color: white;
}

.custom-categorieslist .category-content {
  display: flex;
  align-items: center;
}

.custom-categorieslist .category-img {
  width: 40%;
  box-shadow: rgb(101, 96, 75) 4px 4px 6px 2px;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
  border-radius: var(--small-border-radius) !important;
}

.custom-categorieslist .card:hover {
  text-decoration: none;
}

.custom-categorieslist .category-text {
  padding-left: 15px;
  height: 100%;
  width: 60%;
}

.custom-categorieslist .model-header,
.custom-cart-wrapper .model-header,
.custom-filterlist .model-header {
  font-family: "Felix Titling", "Noto Serif Display", "Inter";
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: normal;
  color: var(--body-bg-third-color);
  position: relative;
}

.custom-categorieslist .model-header:before,
.custom-filterlist .model-header:before {
  content: attr(data-text);
  top: 70%;
  left: 0;
  position: absolute;
  background: linear-gradient(to top, var(--body-bg-darker-second-color) 20%, rgba(0,0,0,0) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: blur(1px);
  transform: scaleY(-1);
  z-index: -1;
}

@media only screen and (max-width: 576px) {
  .custom-categorieslist .model-header::before {
    display: none;
  }
}

.custom-categorieslist .card {
  box-shadow: none;
}

.custom-categorieslist .card:hover {
  box-shadow: 0px 16px 35px 0px rgba(0, 0, 0, 0.15);
}

.custom-categorieslist .category-title {
  font-family: 'Felix Titling', "Noto Serif Display", "Inter";
  font-weight: 400;
  line-height: 58px;
}

.custom-categorieslist .category-description {
  font-family: "Baskervville";
  font-weight: 400;
  line-height: 39px;
  color: var(--border-color);
}

.product-single .product-info .product-variants .attribute .variantValues .variantValue input:checked ~ label {
  color: var(--border-color) !important;
}

.custom-categorieslist-home .category-row .card {
  width: 100%;
  flex-direction: row;
}

.custom-categorieslist-home .category-img {
  flex: 1 1 0%;
  max-width: 20%;
  aspect-ratio: 1 / 1;
  display: inline-flex;
  align-items: center;
  box-shadow: rgb(101, 96, 75) 4px 4px 6px 2px;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
  border-radius: 10px !important;
}

.custom-categorieslist-home .category-text.order-2,
.custom-categorieslist-home .category-text.order-1 {
  flex: 2 1 0%;
  padding-top: 5px;
}


#signin-modal .modal-content::before {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  background-image: url(https://media.shopranos.eu/media/472f3a6a-a69e-411f-aaad-a71189c0d0a7/6b97fe99-92fb-4c91-b971-aa224737fe2f/6b97fe99-92fb-4c91-b971-aa224737fe2f);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  filter: blur(1px);
}

#signin-modal .modal-content {
  background-color: var(--body-bg-second-color);
}

#signin-modal .card-header-tabs .nav-item {
  z-index: 1;
}

#signin-modal .card-header-tabs .nav-item a {
  background-color: var(--body-bg-first-color);
  margin-right: 5px;
  border-radius: var(--normal-border-radius)
}

#signin-modal .nav-link.active,
#signin-modal .nav-link:hover {
  text-decoration-color: var(--border-color) !important;
}

.modal-body #signin-tab,
.modal-body #signup {
  color: white;
}

#signin-tab .btn,
#signup .btn {
  border-radius: var(--normal-border-radius);
}

.custom-cart-wrapper {
  position: relative;
}


/* custom-cart-wrapper with items */
.custom-cart-wrapper:has(.items-wrapper)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, var(--body-bg-first-color), rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 85%, var(--body-bg-first-color)), url(https://media.shopranos.eu/media/472f3a6a-a69e-411f-aaad-a71189c0d0a7/9a1ebd4b-e251-47ab-89f8-b23b8d51134d/9a1ebd4b-e251-47ab-89f8-b23b8d51134d);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.85;
}

.container-lg.custom-cart-wrapper {
  padding: 2% 10%;
  max-width: 100vw;
}

.items-wrapper ~ .undo-wrapper {
  border-radius: var(--normal-border-radius);
}

.items-wrapper ~ .undo-wrapper .s-check {
  cursor: default;
}

.custom-cart-wrapper .search-wrapper .form-control {
  background-color: var(--body-bg-third-color);
}


.custom-cart-wrapper .items-wrapper {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: var(--normal-border-radius);
  min-height: 20vw;
}

.custom-cart-wrapper .aside-wrap {
  box-shadow: 4px 4px 6px var(--body-bg-golden-color);
  border-radius: var(--small-border-radius);
  border: 0px !important;
}

.custom-cart-wrapper .aside-wrap button {
  background-color: var(--body-bg-golden-color);
}
.custom-cart-wrapper .aside-wrap button:hover {
  background-color: var(--body-bg-extra-golden-color);
}

.items-wrapper .border-top:first-child {
  border-top: 0px !important;
}

.cart-wrapper .items-wrapper .cart-item .img-wrap img {
  aspect-ratio: unset;
  max-height: unset !important;
}

@media only screen and (max-width: 743px) {
  .container-lg.custom-cart-wrapper {
    padding: 3%;
  }
}

/* custom-cart-wrapper no items */
.custom-cart-wrapper:has(.no-items-wrapper)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, var(--body-bg-first-color), rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 85%, var(--body-bg-first-color)), url(https://media.shopranos.eu/media/472f3a6a-a69e-411f-aaad-a71189c0d0a7/53cacf71-9623-4d23-8d7a-1bfa4c7c1d7a/53cacf71-9623-4d23-8d7a-1bfa4c7c1d7a);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.custom-cart-wrapper:has(.no-items-wrapper) .search-wrapper {
  max-width: 30vw;
}

.custom-cart-wrapper .no-items-wrapper {
  display: flex;
  align-items: center;
  height: 25vw;
}

.custom-cart-wrapper .no-items-wrapper .card {
  height: fit-content;
  width: fit-content;
  padding: 0.5rem !important;
  border-radius: var(--small-border-radius);
  background-color: var(--body-bg-second-color-op40) !important;
}

footer.border-top {
  border-top: none !important;
}

/* media icon glow effect */
.s-instagram,
.s-facebook,
.s-linkedin,
.s-youtube {
  transition: text-shadow .3s ease;
}

.s-instagram:hover,
.s-facebook:hover,
.s-linkedin:hover,
.s-youtube:hover {
  text-shadow: 2px 1px 7px var(--body-bg-second-color), 0 0 7px whitesmoke;
}


/* Product Single */
.product-info .product-sku {
  display: none;
}

/* Products filterlist */
.filterlist-single_product .card .product-thumb {
  box-shadow: 3px 3px 4px 1px rgba(105,105,105,0.8), 
  8px 8px 3px var(--body-bg-darker-color), 
              -6px -6px 2px var(--body-bg-third-color), 
              -3px -3px 4px 2px rgba(0, 0, 0, 0.5);
  border-radius: var(--xs-border-radius);
  margin-right: 10px;
  transition: transform 250ms ease-in-out;
}

.filterlist-single_product .card .product-thumb:hover {
  transform: translate3d(4px, -4px, 5px);
}

.filterlist-single_product .card .product-thumb img:hover {
  transform: none !important;
}

.iconblock-wrapper .icon-header {
  color: white;
}

.swiper-button-next, .swiper-button-prev {
  border-radius: 50%;
}

.page-link.active, .active > .page-link {
  z-index: 3;
  color: var(--border-color);
  background-color: var(--body-bg-second-color);
}

.filterlist-content__sidebar #shop-sidebar {
  background-color: var(--body-bg-second-color);
  border-radius: var(--normal-border-radius);
  box-shadow: rgb(101, 96, 75) 4px 4px 6px 2px;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
}

.filterlist-content__sidebar .retail-price-slider .noUi-tooltip {
  background-color: transparent;
}


/* custom-banner */
.custom-banner-carousel .swiper {
  position: initial;
}
/* body .banner-carousel .swiper .swiper-pagination-bullet::before {
  background-color: var(--body-bg-second-color) !important;
  } */
  
  /* footer */
  footer ul.list-unstyled {
    margin-bottom: 0px;
}

/* Product Card */
.product-cart-qty .btn-secondary {
  --bs-btn-bg: var(--body-bg-second-color-op70);
  --bs-btn-border-color: transparent;
  --bs-btn-disabled-bg: var(--body-bg-second-color-op70);
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-hover-bg: var(--body-bg-third-color);
  --bs-btn-hover-border-color: var(--body-bg-third-color);
  --bs-btn-active-bg: var(--body-bg-third-color);
  --bs-btn-active-border-color: var(--body-bg-third-color);
}

.product-cart-qty .btn-secondary.added {
  --bs-btn-bg: var(--body-bg-brown-color);
  --bs-btn-border-color: transparent;
  --bs-btn-disabled-bg: var(--body-bg-brown-color);
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-hover-bg: var(--body-bg-darker-color);
  --bs-btn-hover-border-color: var(--body-bg-darker-color);
  --bs-btn-active-bg: var(--body-bg-darker-color);
  --bs-btn-active-border-color: var(--body-bg-darker-color);
}

.product-cart-qty .btn {
  position: relative;
  overflow: hidden;
}

.product-cart-qty .btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.product-cart .add-to-cart .cart-item-circle {
  border-radius: 50%;
}

/* Products Carouse */
.products-carousel__wrapper .wrapper:not(.withBanner) .swiper-slide #product-carousel-thumb a {
  border-radius: var(--small-border-radius); /* Rounded corners */
  border-top: 3px solid var(--body-bg-darker-second-color);
  border-left: 3px solid var(--body-bg-darker-second-color);
  border-right: 3px solid var(--body-bg-darker-second-color);
}

.products-carousel__wrapper .swiper-slide:hover {
  box-shadow: none !important;
}


/* forms */
.form-select:hover {
  cursor: pointer;
}

.form-control:hover,
.form-select:hover {
  border-color: var(--border-color) !important;
}

/* s-icons */
.product-wrap .product-list.listActive .s-heart::before {
  color: #DFB8B2;
}

.custom-shoppinglist-button {
  width: 2vw !important;
  height: 2vw !important;
  border-radius: 50% !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  transition: all 0.3s ease-in-out !important;
}

.custom-shoppinglist-button-active {
  width: 2vw;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0;
}

.custom-shoppinglist-button:hover {
  background-color: #e2e6ea;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

/* List Profile */
.listProfile .table {
  --bs-table-bg: none;
}

/* Text wrapper */
.textwithimage-wrapper {
  margin-block: 0 0 !important;
  max-width: 100vw !important;
  position: relative;
}

.textwithimage-wrapper .row:has(.subtitle) {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100vw;
}

.textwithimage-wrapper:has(.subtitle) .text-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://media.shopranos.eu/media/472f3a6a-a69e-411f-aaad-a71189c0d0a7/eff8c645-9994-4f52-a46a-4a7e2ef922ec/eff8c645-9994-4f52-a46a-4a7e2ef922ec");
  z-index: -1;
}

.textwithimage-wrapper .img-wrap {
  padding: 0;
  width: 100%;
  height: auto;
}

.textwithimage-wrapper .img-wrap img {
  object-fit: cover;
  border: 10px solid var(--brown-grey-color);
}

.textwithimage-wrapper .text-wrap {
  width: 100% !important;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 3rem;
  padding-left: 3rem;
}

.textwithimage-wrapper .model-header {
  margin-bottom: 2rem !important;
}

@media only screen and (max-width: 743px) {
  .textwithimage-wrapper .row:has(.subtitle) {
    grid-template-columns: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Contact Form */
.form-wrapper .form-header {
  font-family: "Baskerville";
}

/* media rules */
@media only screen and (min-width: 744px) and (max-width: 1439px) {
  .custom-categorieslist .category-title {
    line-height: 42px; /* Reduced to maintain ratio */
  }
  
  .custom-categorieslist .category-description {
    line-height: 28px; /* Reduced to maintain ratio */
  }
}

@media only screen and (min-width: 577px) and (max-width: 743px) {
  .custom-categorieslist .col-sm-6 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media only screen and (max-width: 743px) {
  .custom-categorieslist .card {
    width: 100%;
    margin-inline: auto;
    height: fit-content;
  }
}

/* smart-phones */
@media only screen and (max-width: 576px) {
  .custom-categorieslist .category-title {
    line-height: 30px; /* Reduced to maintain ratio */
  }

  .custom-categorieslist .category-description {
    line-height: 20px; /* Reduced to maintain ratio */
  }

  .custom-categorieslist .category-content {
    flex-direction: column;
    gap: 20px;
  }

  .custom-categorieslist .category-img,
  .custom-categorieslist .category-text {
    width: 100% !important;
  }
}
